<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{book.title}}</title>
</head>
<body>
  <h1>{{book.title}}</h1>
  <p>Welcome to the ODP Documentation Guide.</p>
</body>
</html>
